html {
  background: #fff;
  color: #000;
  font-family: sans-serif;
}

body {
  padding: 0;
}

h1 {
  color: aqua;
  background-color: #000;
  margin: 0;
  padding: 40px;
}

h3 {
  font-size: 30px;
  color: crimson;
  font-family: "Bungee Tint", sans-serif;
}

span {
  font-family: sans-serif;
}

#img1,
#img7,
#img8,
#img9 {
  width: 500px;
  height: 400px;
}

#img2 {
  width: 625px;
  height: 550px;
}

#img10 {
  width: 690px;
  height: 360px;
}

#img3,
#img4,
#img6 {
  width: 700px;
  height: auto;
}





/* este es un comentario */